/* Sidebar */
.sidebar {
    width: 300px;
    max-width: 300px;
    background-color: #c1c1c1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    top: 0;
    height: 100vh;
    position: fixed;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    display: block;
    margin: 0 auto 10px;
}

.profile p {
    margin: 0;
    font-weight: bold;
}

.menu a {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eaeaea;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #ddd;
}

.menu a span {
    margin-left: 10px;
}

.logout {
    background-color: #eaeaea;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}