<div class="sidebar w-20">
  <div>
    <div class="profile">
      <img
        src="{{ url_for('static', filename='img/logo-login.svg') }}"
        alt="User Icon"
      />
      <p>{{ session.user_name or 'Usuário' }}</p>
    </div>
    <div class="menu">
      <a href="{{ url_for('main.dashboard') }}"
        ><span>🏠</span> <span>Início</span></a
      >
      <a href="{{ url_for('main.history') }}"
        ><span>🗂️</span> <span>Histórico</span></a
      >
      <a href="{{ url_for('main.profile') }}"
        ><span>👤</span> <span>Perfil</span></a
      >
    </div>
  </div>
  <div class="logout">
    <a
      href="{{ url_for('main.logout_user') }}"
      style="text-decoration: none; color: black"
      >⏎ Sair</a
    >
  </div>
</div>

{% block extra_css %}
<style>
  /* Sidebar */
  .sidebar {
    width: 300px;
    max-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    top: 0;
    height: 100vh;
    position: fixed;
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.2);
  }

  .profile {
    text-align: center;
    margin-bottom: 30px;
  }

  .profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    display: block;
    margin: 0 auto 10px;
  }

  .profile p {
    margin: 0;
    font-weight: bold;
  }

  .menu a {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eaeaea;
    text-decoration: none;
    color: black;
    border-radius: 5px;
  }

  .menu a:hover {
    background-color: #ddd;
  }

  .menu a span {
    margin-left: 10px;
  }

  .logout {
    background-color: #eaeaea;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
</style>
{% endblock %}
