name: Build and Deploy Flask (GHCR)

on:
  push:
    branches:
      - main
  workflow_dispatch: # Permite rodar manualmente pelo painel do GitHub

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Login no GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Preparar nome da imagem (lowercase)
        id: image_name
        run: |
          # Transforma o nome do repositório em minúsculo
          IMAGE_ID=ghcr.io/${{ github.repository }}
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          echo "IMAGE_TAG=$IMAGE_ID:latest" >> $GITHUB_OUTPUT

      - name: Build e push da imagem
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.image_name.outputs.IMAGE_TAG }}